@tailwind base;
@tailwind components;
@tailwind utilities;

*[id] {
  scroll-margin-top: theme("spacing.20");

  @media (min-width: theme("screens.lg")) {
    scroll-margin-top: theme("spacing.28");
  }
}

.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}
